a:link, a:visited {color: #ffffff}
a:hover, a:active {color: #00ff00}

img.top {
    vertical-align: text-top;
}

img.bottom {
    vertical-align: text-bottom;
}


body {
   background: #004444;
   color: #CCFFFF;
   scrollbar-arrow-color: #000000;
   scrollbar-base-color: #ff0000;
   scrollbar-track-color: #440000;
}

h2 {
   color: #00dd00;
}

h3 {
   margin-bottom:16.0pt; margin-top:0pt;
   page-break-after:avoid;
   punctuation-wrap:simple;
   text-autospace:none;
   font-size:16.0pt;
   font-family:"Times New Roman";
   margin-left:40pt; margin-right:0pt;
}

html {
	overflow-y: scroll;
}
